%h1 Credits

%h2 Images

%ul
  %li
    %a{:href => 'http://www.iconspedia.com/icon/pencil-icon-19898.html'}
      The Noun Project
    = surround '(', ')' do
      %a{:href => 'http://creativecommons.org/licenses/by/3.0/'} CC-BY
  %li
    %a{:href => 'http://findicons.com/icon/93532/stock_lock?id=366494'}
      schollidesign
    = surround '(', ')' do
      %a GNU GPL

%h2